@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}

.image-container {
  position: relative;
  width: 45%;
  height: 100%;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & .name-drink {
    width: 45%;
    position: absolute;
    bottom: 20px;
    background: black;
    color: white;
    padding: 10px;
    z-index: 2;

    & p {
      margin: 0;
      font-weight: 500;
    }
  }
}

.info-container {
  position: absolute;
  width: 55%;
  height: 100%;
  right: 0;
  box-sizing: border-box;
  padding: 80px 35px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  & .card-info {
    width: 500px;
    padding: 10px 30px;
    margin-left: -200px;
    background: #fff;

    & .qualification {
      height: 30px;
      display: flex;
      align-items: center;
      gap: 10px;

      & .star-container,
      span {
        height: 100%;
      }

      & .star-container {
        display: flex;
        align-items: center;
        gap: 10px;

        & svg {
          color: gray;

          & path {
            pointer-events: none;
          }
        }

        & .active-star {
          color: #f3ad21;
          filter: drop-shadow(0px 0px 5px #f3ad21);
        }
      }
      & span {
        display: flex;
        align-items: center;
      }
    }

    & p {
      margin: 0;
      font-size: 40px;
      font-weight: 700;
    }
  }

  & .description-cook {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & section {
      display: flex;
      gap: 10px;

      & .info-cook {
        display: flex;
        align-items: center;
        gap: 10px;

        & svg {
          color: gray;
        }

        & .sub-info {
          display: flex;
          flex-direction: column;
          font-size: 14px;

          & span:nth-child(1) {
            font-size: 12px;
          }

          & span:nth-child(2) {
            color: #f3ad21;
            font-weight: 600;
          }
        }
      }
    }

    & p {
      margin: 0;
      font-style: italic;
      font-weight: 500;
      line-height: 30px;
    }
  }

  & .ingredients {
    margin-top: 20px;
    & ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style: none;
      padding: 0;

      & li {
        display: flex;
        gap: 10px;

        & .option-checked {
          position: relative;
          width: 14px;
          height: 14px;
          appearance: none;
          border: 1.5px solid black;
          border-radius: 2px;
        }

        & .option-checked:checked {
          background-color: #f3ad21;
          border: 1px solid #f3ad21;
          box-shadow: 0 0 3px 2px #f3ad21;
        }

        & .option-checked:checked::after {
          content: '';
          position: absolute;
          top: 3px;
          left: 2px;
          width: 7px;
          height: 2px;
          border-bottom: 2px solid #ffffff;
          border-left: 2px solid #ffffff;
          transform: rotate(-45deg);
        }
      }
    }
  }

  & .instructions {
    margin-top: -20px;
    & ul {
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      list-style: numeric;
      gap: 10px;
    }
  }
}
